.vscode/settings.json
listas_de_exercicios/5_lista/a.out
listas_de_exercicios/7_lista/.vscode/tasks.json
listas_de_exercicios/6_lista/.vscode/settings.json
listas_de_exercicios/5_lista/.vscode/tasks.json
listas_de_exercicios/5_lista/.vscode/settings.json
